@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.hero {
    width: 100%;
    height: 100vh;
    background-color: #f1f9ff;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
h1 {
    font-size: 40px;
    margin-top: -100px;
    margin-bottom: 100px;
}
.link-social{
    display: flex;
}
.link-social a{
    width: 80px;
    height: 80px;
    text-align: center;
    text-decoration: none;
    color: black;
    box-shadow: 0 0 20px 10px rgba(0,0,0,.05);
    margin: 0 30px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    transition: transform .5s;
}
.link-social a .fab{
    font-size: 30px;
    line-height: 80px;
    position: relative;
    z-index: 10;
    transition: color .5s;
}
.link-social a::after{
    content: '';
    width: 100%;
    height: 100%;
    top: -90px;
    left: 0;
    background:linear-gradient(-45deg, #ed1c94,#ffec17) ;
    position: absolute;
    transition: .5s;
}
.link-social a:hover::after{
    top: 0;
}
.link-social a:hover .fab{
    color: white;
}
.link-social a:hover{
    transform: translateY(-10px);
}